html {
  font-size: 16px;
}

@media (max-width: 767px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

body {
  color: #494A52;
  font-family: $font-family-primary;
  line-height: 1.9em;
  word-break: break-word;
}

html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
  line-break: strict;
  word-break: break-all;
}

/* Paragraphs */

p {
  font-size: 1rem;
  margin: 0 0 1.4rem;
}

strong {
  font-weight: 700;
}

/* Anchors */

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

a:hover, a:focus {
  color: $color-primary;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-secondary;
  font-weight: 700;
  margin: 0 0 1.4rem;
  line-height: 1.2em;
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-family: $font-family-primary;
  font-size: 1.175rem;
  font-weight: normal;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9rem;
}

/* Code blocks */

code {
  vertical-align: bottom;
}

/* Blockquotes */

blockquote {
  border-left: 2px solid #A9A9A9;
  margin: 0 0 1.4rem;
  padding-left: 15px;
}

/* Horizontal rules */

hr {
  background-color: $color-primary;
  border: none;
}

.hr {
  &--variant-a {
    width: 50%;
    margin-left: 0px;
    height: 2px;
  }
}

/* Subscripts and superscripts */

sup,
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Focus styles */

:focus {
  outline: auto;
  outline-color: green;
}

.disable-focus-styles :focus {
  outline: none;
}

.muted {
  font-size: .9em;
}
